/* .header {
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
    font-size: 17px;
    margin-left: -4rem;
} */
/* .navbar ul {
    display: flex;
    justify-content: center;
    gap: 3rem;

    @media screen and (max-width: 480px) {
        padding-left: 0;

    }

} */

.navbar ul img {
    /* width: 86px;
    height: 20px;
    margin: 10px 0; */
    /* color: rgba(0, 0, 0, 1); */

}

.navbar ul li {
    /* width: 86px; */



    /* height: 12px;
    color: rgba(2, 0, 50, 1);
    line-height: 96%;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    list-style: none;
    font-size: 18px; */
}