.container {
    margin: 2rem 1rem 2rem 1rem;



    padding: 0;
    box-sizing: border-box;
    /* border: black 2px solid; */
}

.search {

    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
}

input {
    margin-bottom: 1rem;
    border-style: solid;
    height: 1rem;
    padding: 1rem 1rem 1rem;
    font-size: 20px;
    border-radius: 10px;
}

button {
    margin-bottom: 2rem;
    border-style: solid;
    height: 4rem;
    padding: 1rem 1rem 1rem;
    font-size: 25px;
    border-radius: 10px;
    background-color: black;
    color: antiquewhite;
    cursor: pointer;

}

button:hover {
    background-color: rgba(12, 14, 38, 0.7);
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 3.2rem;
    grid-row-gap: 3.3rem;
    margin: 1rem 3rem;

    @media screen and (max-width: 480px) {
        /* grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 3.2rem;
        margin: 1rem 3rem; */
        display: block;
    }

}

.display-container {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; */
    /* grid-column: 1/span2; */

    background: linear-gradient(0deg, #ffffff, #ffffff);
    border: 1px solid #eeeeee;
    text-align: center;
    color: #0c0e26;
    font-family: "Avenir";
    font-size: 25px;
    font-weight: 750;
    line-height: 24px;

    @media screen and (max-width: 480px) {
        margin-bottom: 3rem;
    }

}

.display-container:last-child {
    grid-column: 2;

}

.display-container .thumbnail img {
    object-fit: cover;
    width: 65%;
    height: 100%;
    /* transition: transform 0.9s; */
}

/* .display-container .thumbnail img:hover {
    transform: scale(1.2);
} */
/* .credit{
    text-align: center;

} */